@wonder:registry=https://pkgs.dev.azure.com/foodtruckinc/Wonder/_packaging/npm-local/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/foodtruckinc/Wonder/_packaging/npm-local/npm/registry/:username=foodtruckinc
//pkgs.dev.azure.com/foodtruckinc/Wonder/_packaging/npm-local/npm/registry/:_password=YjViZGthdnplbzR4MnNnbDNseHBrc3h6cXY2aWE3NnZxZjJ1bHhucTZxaWt2eHR0czN6cQ==
//pkgs.dev.azure.com/foodtruckinc/Wonder/_packaging/npm-local/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/foodtruckinc/Wonder/_packaging/npm-local/npm/:username=foodtruckinc
//pkgs.dev.azure.com/foodtruckinc/Wonder/_packaging/npm-local/npm/:_password=[BASE64_ENCODED_SYSTEM_ACCESSTOKEN]
//pkgs.dev.azure.com/foodtruckinc/Wonder/_packaging/npm-local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token